# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Kai Fabi
author: Kai Fabi
email: kaifabi@posteo.net
description: >- # this means to ignore newlines until "baseurl:"
  Fun with neural networks and more. I basically brain dump here anything that comes to my mind.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://kaifabi.github.io" # the base hostname & protocol for your site
twitter_username:
github_username: kaifabi

logo: "/assets/cat.jpg"
cover: "/assets/cat.jpg"

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Experimental
show_excerpts: false # show excerpts of posts on the main page if true



# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
